@charset "utf-8";

/* ---------- Login ---------- */

div.login {
	width: 520px;
	height: 302px;
	padding: 110px 160px 0px 160px;
	margin: 60px auto 0px auto;
	overflow: hidden;
	background: url(../images/login.png) 0px 0px no-repeat;
}

div.login table {
	width: 520px;
	height: 220px;
}

div.login th {
	height: 30px;
	padding-right: 6px;
	font-weight: normal;
	text-align: right;
}

div.login .captcha {
	width: 90px;
	text-transform: uppercase;
	ime-mode: disabled;
}

div.login .captchaImage {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

div.login .homeButton {
	width: 37px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/login.png) 0px -420px no-repeat;
}

div.login .loginButton {
	width: 70px;
	height: 30px;
	line-height: 30px;
	color: #476b89;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/login.png) -37px -420px no-repeat;
}

div.login .powered {
	height: 30px;
	line-height: 30px;
	padding-right: 10px;
	text-align: right;
	font-size: 9px;
	color: #999999;
}

div.login .link {
	height: 30px;
	line-height: 30px;
	padding-right: 7px;
	text-align: right;
	color: #888888;
}

div.login .link a {
	color: #888888;
	margin: 0px 3px;
}

fieldset {
	line-height: 30px;
	padding: 0px 10px;
	margin: 10px 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

fieldset strong {
	font-weight: bold;
}