@charset "utf-8";
div.hotArticleCategory {
	width: 228px;
	margin-bottom: 10px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
}

div.hotArticleCategory .title {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	color: #d31c31;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	background-color: #f1f1f1;
}

div.hotArticleCategory dl {
	width: 216px;
	line-height: 30px;
	float: left;
	_float: none;
	margin: 0px 6px;
	border-bottom: solid 1px #f1f1f1;
}

div.hotArticleCategory dl.last {
	border-bottom: none;
}

div.hotArticleCategory dt a {
	font-family: "Microsoft YaHei";
	color: #2c64b1;
	font-size: 14px;
}

div.hotArticleCategory dd {
	width: 108px;
	float: left;
}

/* ---------- HotArticle ---------- */

div.hotArticle {
	width: 228px;
	margin-bottom: 10px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
}

div.hotArticle .title {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	color: #d31c31;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	background-color: #f1f1f1;
}

div.hotArticle li {
	line-height: 26px;
	padding: 0px 6px;
}

/* ---------- ArticleSearch ---------- */

div.articleSearch {
	width: 228px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
}

div.articleSearch .title {
	height: 38px;
	line-height: 30px;
	padding-left: 30px;
	margin-bottom: 10px;
	color: #a37955;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	background: url(../images/article.gif) 0px 0px no-repeat;
}

div.articleSearch .content {
	width: 196px;
	height: 23px;
	line-height: 23px;
	position: relative;
	padding: 2px 0px;
	margin: 0px auto;
	background: url(../images/article.gif) 0px -60px no-repeat;
}

div.articleSearch input {
	width: 122px;
	height: 23px;
	line-height: 23px;
	padding: 0px 4px;
	margin: 0px;
	position: absolute;
	color: #888888;
	outline: none;
	border: none;
	background: none;
}

div.articleSearch button {
	width: 64px;
	height: 23px;
	line-height: 23px;
	float: right;
	margin: 0px;
	font-size: 12px;
	position: relative;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: none;
}

/* ---------- ArticleList ---------- */

div.articleList .result {
	padding: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
}

div.articleList .result li {
	border-bottom: 1px solid #f1f1f1;
}

div.articleList .result li.last {
	border-bottom: none;
}

div.articleList .result a {
	line-height: 40px;
	color: #204e7d;
	font-size: 14px;
	font-weight: bold;
}

div.articleList .result span {
	color: #787878;
}

div.articleList .result p {
	line-height: 30px;
	color: #787878;
}

div.articleList .result dl {
	line-height: 30px;
}

div.articleList .result dt {
	color: #843d11;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}

div.articleList .result dd {
	color: #666666;
}

/* ---------- ArticleContent ---------- */

div.articleContent .main {
	line-height: 26px;
	padding: 20px;
	margin-bottom: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
}

div.articleContent .main .title {
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

div.articleContent .main .info {
	line-height: 30px;
	margin-bottom: 10px;
	color: #787878;
	text-align: center;
	border-bottom: solid 1px #f1f1f1;
}

div.articleContent .main .content {
	overflow: hidden;
}

div.articleContent .main .content strong {
	font-weight: bold;
}

div.articleContent .main .content em {
	font-style: italic;
}